/*
   
	Filename: ucsdcki.css
	Purpose: The UCSD Circle K Website Style Sheet
	Author: Jeffrey Sung
	Last Updated: October 10, 2007 at 2:26
	(C) 2007
 
*/

body{
	font-size: 10pt;
	font-family: Arial;
	color: white;
	background-color: white;
	line-height: 16pt;
	margin-left: 10pt;
	margin-right: 10pt;
	background-image: url(./images/blue.jpg);
	background-attachment: fixed;
}

.center{
	text-align: center;	
}

//alignment put in for facebook
.left{
	text-align: left;
}

.right{
	text-align: right;
}

.matt{
	font-size: 10pt;
}

.sup{
	vertical-align: super;
}

.sub{
	vertical-align: sub;
}

.chatterbox{
	font-family: Lucida Console, Courier New;
}

.underline{
	text-decoration: underline;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: oblique;
}

.mini{
	font-size: 8pt;
	/*font-stretch: condensed;*/
}

.error{
	font-family: Courier New;
	color: Red;
}

.title{
	font-family: Arial;
	font-weight: bold;
	font-size: large;
	/*font-stretch: expanded;*/
	/*text-decoration: underline;*/
	text-align: center;
	font-size: 16pt;
	color: #D6A9FB;
}

.subtitle{
	font-weight: bold;
	text-decoration: underline;
}

a{
	text-decoration: none;
}

a:link{
	color: #ff66ff;
}

a:visited{
	color: #ff66ff;
}

a:active{
	color: #ff66ff;
}

a:hover{
	color: #ff66ff;
	text-decoration: overline underline;
}

.unlinkable{
	color: #ff66ff;
	text-decoration: line-through;
}