/*
   
	Filename: ucsdcki.css
	Purpose: The UCSD Circle K Website Style Sheet
	Author: Jeffrey Sung
	Last Updated: December 16, 2007 at 2:53
	(C) 2007
 
*/

body{
	font-size: 9pt;
	font-family: Arial;
	color: black;	
	line-height: 16pt;
	margin-left: 10pt;
	margin-right: 10pt;
}

.center{
	text-align: center;	
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.matt{
	font-size: 9pt;
}

.sup{
	vertical-align: super;
}

.sub{
	vertical-align: sub;
}

.chatterbox{
	font-family: Lucida Console, Courier New;
}

.underline{
	text-decoration: underline;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: oblique;
}

.mini{
	font-size: 7pt;
}

.error{
	font-family: Courier New;
	color: Red;
}

.title{
	font-family: Verdana;
	font-weight: bolder;
	font-size: large;
	text-decoration: underline;
	text-align: center;
	font-size: 20pt;
}

.subtitle{
	font-weight: bold;
	text-decoration: underline;
}

a{
	text-decoration: none;
}

a:link{

}

a:visited{

}

a:active{

}

a:hover{
	
}

.unlinkable{
	text-decoration: line-through;
}